includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    paths:
        - %currentWorkingDirectory%/classes/
    bootstrapFiles:
        - %currentWorkingDirectory%/tests/static-analysis/bootstrap.php
        - %currentWorkingDirectory%/autoload.php
    ignoreErrors:
        - '#^Function apply_filters invoked with [\d+] parameters, 2 required\.$#'
        - '#^Call to static method \S+\(\) on an unknown class WP_CLI\.$#'
        - '#^Parameter \#1 \$separator of function explode expects non-empty-string, string given\.$#'
    reportUnmatchedIgnoredErrors: false
